<div class="container">
  <input type="radio" name="radio" class="radioInput" id="tab1" checked hidden/>
  <input type="radio" name="radio" class="radioInput" id="tab2" hidden/>
 
  
  <div class="tabHeader-container">
    <label for="tab1" class="tabHeader">Inbound</label>
    <label for="tab2" class="tabHeader">Outbound</label>

  </div>
  
  <span class="activeTab-indicator"></span>
  
  <div class="tabContent-container">
    <div class="tabContent tab1-content">
        <form action="#">
            <p>
              <input type="checkbox" id="test1" />
              <label for="test1">Queue1</label>
            </p>
            <p>
              <input type="checkbox" id="test2" />
              <label for="test2">Queue2</label>
            </p>
            <p>
              <input type="checkbox" id="test3" />
              <label for="test3">Queue3</label>
            </p>
              <p>
                <input type="checkbox" id="test4" />
                <label for="test4">Queue4</label>
            </p>
          </form>
        
      <button type="submit">Submit</button>
    </div>
    
    <div class="tabContent tab2-content">
      
        <form action="#">
            <p>
              <input type="checkbox" id="test1" />
              <label for="test1">Loan</label>
            </p>
            <p>
              <input type="checkbox" id="test2"  />
              <label for="test2">Real Estate</label>
            </p>
            <p>
              <input type="checkbox" id="test3"  />
              <label for="test3">Credit Card</label>
            </p>
              <p>
                <input type="checkbox" id="test4" />
                <label for="test4">Insurance</label>
            </p>
          </form>
      <button type="submit">Submit</button>
    </div>
    
   
  </div>
</div>